*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/src\main\java\com\example\beyourowndoctor\DiseasesCatagorey.java
/src\main\java\com\example\beyourowndoctor\Specilist_Doctor.java
/src\main\res\values\strings.xml